<h1> Coupons </h1>


<ul>
    <% @coupons.each do |coupon| %>
        <li><%= link_to coupon.coupon_name, coupon_path(coupon) %></li>
    <% end %>
</ul>

<h6> <%= link_to "Create new coupon", coupons_new_path %>  </h6>